.header {
	text-align: center;
	margin: 20px 0px 25px 0px;
}
.header > img {
	width: 150px;
}
body {
	background-color: #C4C4C4;
}
.panel {
	border-top: thick solid #37FF00;
	text-align: center;
	padding: 15px;
}
.panel > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
button.command {
	width: 60px;
	height: 60px;
	margin: 2px;
}
#up {
	background: url(btn_forward.png) #37FF00;
	background-size: 100%;
}
#up:active {
	background: url(btn_forward_active.png) #37FF00;
	background-size: 100%;
}
#left {
	background: url(btn_left.png) #37FF00;
	background-size: 100%;
}
#left:active {
	background: url(btn_left_active.png) #37FF00;
	background-size: 100%;
}
#right {
	background: url(btn_right.png) #37FF00;
	background-size: 100%;
}
#right:active {
	background: url(btn_right_active.png) #37FF00;
	background-size: 100%;
}
#back {
	background: url(btn_back.png) #37FF00;
	background-size: 100%;
}
#back:active {
	background: url(btn_back_active.png) #37FF00;
	background-size: 100%;
}
#stop {
	background: url(btn_stop.png) #37FF00;
	background-size: 100%;
}
#stop:active {
	background: url(btn_stop_active.png) #37FF00;
	background-size: 100%;
}
